doctype html
html(lang="en")
    head
        title= " User List"
    body
        h1 Jade!
        u1
            each user in users
                li
                    a(href='/' + user.userId)= user.fullName